<div
  class="d-flex align-content-stretch flex-wrap justify-content-center bg-body-secondary rounded-bottom-2"
>
  <div class="input-group input-group-lg p-5">
    <span class="input-group-text" id="inputGroup-sizing-lg">Search</span>
    <input
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-lg"
      placeholder="Title"
      (input)="onSearch($event)"
    />
    <button type="button" class="btn btn-secondary">
      <i class="fas fa-search"></i>
    </button>
  </div>
  <div
    class="card shadow m-2 p-1"
    style="width: 15rem"
    [routerLink]="'/film/' + film.id"
    *ngFor="let film of filmList"
  >
    <img [src]="film.imageUrl" class="card-img-top" [alt]="film.name" />
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{ film.name }}</h5>
      <div class="d-flex justify-content-between">
        <p class="card-text">
          {{ film.year }}
        </p>
        <i class="fa-solid fa-star" style="color: #ffd43b"
          ><span style="color: black; padding-left: 0.2em; font-size: 0.8em">{{
            film.rating
          }}</span>
        </i>
      </div>
      <div class="card-footer text-center mt-auto">
        <a [routerLink]="'/film/' + film.id" class="btn btn-secondary"
          >Vai alla scheda</a
        >
      </div>
    </div>
  </div>
</div>
