<!-- <div style="text-align: center;">
  <h1>Hello {{title}}</h1>
  <hr>
</div>

<app-server-list></app-server-list>

<router-outlet></router-outlet> -->

<!-- <button (click)="console.log('click')"></button> -->
<div class="container">
  <!--The content below is only a placeholder and can be replaced.-->
  <div class="row mt-2 text-center">
    <div class="col">
      <h1>
        Welcome to {{ title }}!
      </h1>
      <hr>
    </div>
  </div>

  <div class="row mt-2" style="background-color: rgba(211, 211, 211, 0.268)">
    <div class="col">
      <app-server-list></app-server-list>
    </div>
  </div>

</div>
<router-outlet />

